<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editoriales</title>
</head>
<body>
    <h1>Editoriales</h1>
    <ul>
        {% for editorial in editoriales %}
            <li><a href="/editoriales/{{editorial.id}}">{{editorial.nombre}}</a></div>
        {% endfor %}
    </ul>
    <h2><a href="/editoriales/new/">Agregar Editorial</a></h2>
</body>
</html>