<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{editorial.nombre}}</title>
</head>
<body>
    <h1>{{editorial.nombre}}</h1>
    <ul>
        <li>
            <b>Dirección: </b> {{editorial.direccion}}
        </li>
        <li>
            <b>Publicaciones: </b> {{editorial.cantidad_publicaciones}}
        </li>
    </ul>
    <br>
    <a href="/editoriales/">Regresar</a>
</body>
</html>